streamlit==1.40.1
numpy
pyvis
python-dotenv
PyYAML
pymongo
openai
tenacity
pathlib
typing
unidecode
torch==2.4.1
transformers==4.46.3
dataclasses
pydantic
accelerate
langchain_openai
langchain
jsonlines
rdflib